@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.accessiblity-h1 {
  font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute!important;
  border: 0!important;
  padding: 0!important;
  margin: 0!important;
  clip: rect(1px,1px,1px,1px);
}

.changelog-body > a {
    color:blue;
    text-decoration: underline;
}
.thumb {
    width:100%;
    height:auto;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.upside-down {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.upside-up {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}
