@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body {
    height:100%;
    --tw-bg-opacity: 1;
    background-color: rgba(219, 234, 254, var(--tw-bg-opacity));
}

.icon {
    width: 16px;
    height: 16px;
  }

.thumb {
    height: 169px;
}

.thumb-container {
    max-width: 300px;
}