@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body {
    height:100%;
    --tw-bg-opacity: 1;
    background-color: rgba(219, 234, 254, var(--tw-bg-opacity));
}

.icon {
    width: 16px;
    height: 16px;
  }

.thumb {
    height: 168.75px;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.upside-down {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.upside-up {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}
